<nav-bar/>
<router-outlet/>
<div class="lang">
    <label for="lang">
        Language : 
    </label>
    <select name="lang" id="lang" [(ngModel)]="lang" >
        <i class="fa-solid fa-chevron-down"></i>
        <option (click)="lang.set('fr')" value="fr">French</option>
        <option (click)="lang.set('eng')" value="eng">English</option>
    </select>
</div>
<div class="frenchContent" *ngIf="lang()=='fr'" >
        <section id="bio">
            <h1>Biographie
                <hr>
            </h1>
            <div class="biography">
                <div class="pfp">
                    <h1>Juba Chaabane
                    </h1>
                    <img src="profile.jpg" alt="">
                </div>
        
                <div class="biotext">
                    <p>Chabane Juba est un jeune passionné de nature, guidé par le destin vers le grand bleu pour devenir acteur
                        du
                        changement.
        
                        Ingénieur d’État en sciences de la mer et titulaire d’un master en biodiversité et gestion des
                        écosystèmes, ce jeune
                        scientifique engagé, s’intéresse particulièrement à l’évolution, à la restauration écologique, à la
                        gestion durable
                        des
                        ressources marines et au développement d’outils numériques innovants pour la recherche et la
                        conservation.
        
                        Amoureux de la mer et des grands espaces, il pratique le snorkeling, le bivouac et le camping pour
                        rester connecté à
                        la
                        nature. Curieux et créatif, il nourrit également un intérêt pour le cinéma et la rédaction. Il maîtrise
                        cinq langues
                        :
                        le kabyle (sa langue maternelle), l’arabe, le français, l’anglais et l’italien.
        
                        Actuellement, il est en quête de nouvelles expériences pour enrichir son parcours et contribuer à la
                        préservation du
                        patrimoine marin pour une planète durable aux futurs générations.</p>
                        <div class="social">
                            <a href="https://www.linkedin.com/in/chabane-juba?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="linkedin">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                </div>
            </div>
        </section>
        <section id="experiences">
            <h1>
                Experiences
                <hr>
            </h1>
            <div class="experiences">
                <div class="card" *ngFor="let i of experiences">
                    <img [src]="i.image" alt="" *ngIf="i.image">
                    <h4> {{i.title}} </h4>
                    <p> {{i.paragraph}} </p>
        
                </div>
            </div>
        </section>
        <section id="Projects">
            <h1>projets
                <hr>
            </h1>
            <div class="projects">
                <div class="pcard" [class.activeCard]="isExpanded" *ngFor="let i of projects">
                    <img [src]="i.image" alt="" *ngIf="i.image">
                    <div class="ptext" [class.soonptext]="!i.paragraph">
                        <h4 [class.soon]="!i.paragraph"> {{i.title}} </h4>
                        <read-more *ngIf="i.paragraph" [text]="i.paragraph" [isExpanded]="isExpanded" (click)="toggleMore()"
                            [maxLength]="150"></read-more>
        
                    </div>
        
                </div>
            </div>
        </section>
        <section id="volunteering">
            <h1>Volontariat
                <hr>
            </h1>
            <div class="volunteering">
                <div class="vcard" *ngFor="let v of volunteering">
                    <img [src]="v.image" alt="" *ngIf="v.image">
                    <div class="vtext">
                        <h4> {{v.title}} </h4>
                        <p [class.readmorefontsize]="v.paragraph.length > 200">{{ v.paragraph }}</p>
                    </div>
                </div>
        
            </div>
        </section>
        <section id="certs">
            <h1>Certifications
                <hr>
            </h1>
            <div class="certs" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
                <!-- <img [src]="c.toString()+'.jpg'" alt="" *ngFor="let c of certs" > -->
                <span class="scrollLeft" (click)="scrollLeft()">
                    <i class="fa-solid fa-arrow-right fa-flip-horizontal" style="color: #1c4b70;"
                        aria-details="previous image"></i>
                </span>
                <img draggable="false" [src]="certs[sec1()]+'.jpg'" alt="" class="sec">
                <img draggable="false" [src]="certs[main()]+'.jpg'" alt="" class="main">
                <img draggable="false" [src]="certs[sec2()]+'.jpg'" alt="" class="sec">
                <span class="scrollRight" (click)="scrollRight()">
                    <i class="fa-solid fa-arrow-right" style="color: #1c4b70;"></i>
                </span>
                <div class="dots">
                    <span class="dot" *ngFor="let i of certs ; let ind =index" (click)="changeByDots(ind)"
                        [class.activedot]="ind == certs.indexOf(certs[main()])"></span>
                </div>
            </div>
        
        </section>

    </div>
<div class="englishContent" *ngIf="lang()=='eng'" >
        <section id="bio">
            <h1>Biography
                <hr>
            </h1>
            <div class="biography">
                <div class="pfp">
                    <h1>Juba Chaabane
                    </h1>
                    <img src="profile.jpg" alt="">
                </div>
        
                <div class="biotext">
                    <p>Chabane Juba is a young nature enthusiast, guided by destiny toward the deep blue to become an agent of change.
                    
                    A State Engineer in Marine Sciences and holder of a Master’s degree in Biodiversity and Ecosystem Management, this
                    dedicated young scientist is particularly interested in evolution, ecological restoration, sustainable management of
                    marine resources, and the development of innovative digital tools for research and conservation.
                    
                    Passionate about the sea and wide open spaces, he practices snorkeling, bivouacking, and camping to stay connected with
                    nature. Curious and creative, he also has a strong interest in cinema and writing. He is fluent in five languages:
                    Kabyle (his native language), Arabic, French, English, and Italian.
                    
                    He is currently seeking new experiences to enrich his career and contribute to the preservation of marine heritage for a
                    sustainable planet for future generations.</p>
                    <div class="social">
                        <a href="https://www.linkedin.com/in/chabane-juba?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                            class="linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="experiences">
            <h1>
                Experiences
                <hr>
            </h1>
            <div class="experiences">
                <div class="card" *ngFor="let i of Eexperiences">
                    <img [src]="i.image" alt="" *ngIf="i.image">
                    <h4> {{i.title}} </h4>
                    <p> {{i.paragraph}} </p>
        
                </div>
            </div>
        </section>
        <section id="Projects">
            <h1>projects
                <hr>
            </h1>
            <div class="projects">
                <div class="pcard" [class.activeCard]="isExpanded" *ngFor="let i of Eprojects">
                    <img [src]="i.image" alt="" *ngIf="i.image">
                    <div class="ptext" [class.soonptext]="!i.paragraph">
                        <h4 [class.soon]="!i.paragraph"> {{i.title}} </h4>
                        <read-more *ngIf="i.paragraph" [text]="i.paragraph" [isExpanded]="isExpanded" (click)="toggleMore()"
                            [maxLength]="150"></read-more>
        
                    </div>
        
                </div>
            </div>
        </section>
        <section id="volunteering">
            <h1>Volunteering
                <hr>
            </h1>
            <div class="volunteering">
                <div class="vcard" *ngFor="let v of Evolunteering">
                    <img [src]="v.image" alt="" *ngIf="v.image">
                    <div class="vtext">
                        <h4> {{v.title}} </h4>
                        <p [class.readmorefontsize]="v.paragraph.length > 200">{{ v.paragraph }}</p>
                    </div>
                </div>
        
            </div>
        </section>
        <section id="certs">
            <h1>Certefications
                <hr>
            </h1>
            <div class="certs" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
                <!-- <img [src]="c.toString()+'.jpg'" alt="" *ngFor="let c of certs" > -->
                <span class="scrollLeft" (click)="scrollLeft()">
                    <i class="fa-solid fa-arrow-right fa-flip-horizontal" style="color: #1c4b70;"
                        aria-details="previous image"></i>
                </span>
                <img draggable="false" [src]="certs[sec1()]+'.jpg'" alt="" class="sec">
                <img draggable="false" [src]="certs[main()]+'.jpg'" alt="" class="main">
                <img draggable="false" [src]="certs[sec2()]+'.jpg'" alt="" class="sec">
                <span class="scrollRight" (click)="scrollRight()">
                    <i class="fa-solid fa-arrow-right" style="color: #1c4b70;"></i>
                </span>
                <div class="dots">
                    <span class="dot" *ngFor="let i of certs ; let ind =index" (click)="changeByDots(ind)"
                        [class.activedot]="ind == certs.indexOf(certs[main()])"></span>
                </div>
            </div>
        
        </section>

    </div>
    <footer>
        <div class="contact">
            <h4>Chaabane Juba</h4>
            <span>
                <i class="fa-solid fa-phone"></i>
                <p>(+213) 781406934</p>
            </span>
            <span class="mail">
                <i class="fa-regular fa-envelope"></i>
                <p >chabanejuba3@gmail.com</p>
            </span>
        </div>

        <div class="socialmedia">
            <h4>social Media </h4>
            <div>
                <a
                    href="https://www.linkedin.com/in/chabane-juba?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://t.me/Juba8291">
                    <i class="fa-brands fa-telegram"></i>
                </a>
                <a href="https://wa.me/213781406934">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </footer>