.lang {
    display: flex;
    width: 100svw;
    height: fit-content;
    padding: min(.5rem,8px) min(2rem,32px);
    align-items: center;
    justify-content: end;
    
}
.lang label {
    margin-right: min(8px, 1svw);
}
select {
    border-radius: .5rem;
    padding: .5rem;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    color: var(--primary);
    cursor: pointer;

}
.lang label {
    display: flex;
    align-items: center;
    gap: 2px;
}
select:focus {
    outline-offset: none;
}
option {
    color: var(--primary);
    font-weight: 500;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid grey;
    border-bottom: 1px solid black;
}
option:hover {
    background-color: red;
}
section {
    width: clamp(fit-content, 100%, 10svw);
    height: clamp(fit-content, 90svh, 1000svh);
    padding: min(1rem, 5%) min(1rem, 5rem);
    padding-top: 3rem;
    margin-bottom: 10rem;
}
#bio {
    padding-top: 3rem;

}
section>h1 {
    margin: 0 auto;
    text-align: center;
    /* margin-top: min(2.5rem, 5%); */
    margin-bottom: min(3rem, 5%);
    font-size: 3rem;
    width: min(20%, 20svw);
    min-width: fit-content;

}

hr {
    border: 2px solid var(--primary);
    height: 1px;
    border-radius: 3rem;
    margin-top: min(.5rem, 5dvh);
}

.biography {
    margin-top: min(2rem, 5dvh);
    display: grid;
    grid-template-columns: 40% 1fr;
}
.biography img {
    width: min(66ch, 66%);
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: fill;
    border: 2px solid var(--primary);
    transition: transform 1s ease;
}
.biography p {
    text-align: justify;
    width: clamp(50ch, 90%, 90%);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.8;
    padding-top: 1rem;
    /* transition: opacity .5s ease ; */
    opacity: 0;
    animation: hidetext 1s linear  .5s forwards;
    line-height: 2;
}
.biotext {
    position: relative;
}

.social {
    margin: 0 auto;
    padding: .5rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: hidetext 1s linear .5s forwards;
}
.social i {
    /* color: var(--primary); */
    font-size: 1.5rem;
}
@keyframes hidetext {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.pfp {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    animation: bioslide .5s linear .5s forwards;
    transform: translateX(75%);
    }
@keyframes bioslide {
        0%  {
                transform: translateX(75%);
        }
        30%  {
                transform: translateX(75%);
        }
        to  {
            transform: translateX(0);    
        }
    }

.experiences,
.volunteering {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: min(2rem, 5dvh);
    flex-wrap: wrap;
    justify-content: center;
}
@keyframes slide {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.card {
    position: relative;
    width: clamp(min(20%, 20svw), 40%, 90svw);
    height: 31.6875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid grey;
    margin-top: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    animation: appear .3s linear forwards;
    opacity: 0;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

.card img {
    width: 100%;
    align-self: 16/9;
    /* height: 204px; */
    object-fit: contain;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card p {
    padding: 2rem;
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.8;
    height: auto;
}

.card h4 {
    font-size: 1.2rem;
    padding-top: .5rem;
    padding-left: 1rem;
    height: auto;
}

/* #volunteering  hr {
    border: 2px solid var(--third);
} */
.volunteering {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
.vcard {
    position: relative;
    /* width: clamp(min(70%, 70svw), 70svw, 90svw); */
    width: 20rem;
    height: 40rem;
    min-height: fit-content;
    display: grid;
    grid-template-rows: 40% 60%;
    /* border: 1px solid gray; */
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    scale: .8;
    animation: appear .3s linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;

}

.vtext {
    margin-top: min(1rem, 8%);

}

.vcard img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0;
    top: 0;
}

.vcard p {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;

}

.vcard h4 {
    padding-top: .5rem;
    padding: 1rem;
}

@keyframes soon {
    0% {
        transform: rotate(360deg) ;
    }
    80% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(180deg) ;
    }
}
.certs {
    box-sizing: border-box;
    width: min(100%, 100svw);
    padding-inline: min(5%, 5svw);
    height: 25rem;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: clip;
    gap: .6rem;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    padding: 3rem 1rem;
    position: relative;
    padding-bottom: 5rem;
    
}

.certs img {
    max-height: 100%;
    aspect-ratio: 1;
    border: 1px solid black;
    transition: opacity 5s ease-in-out;
}

.scrollLeft,
.scrollRight {
    cursor: pointer;
    position: absolute;
}

.scrollLeft {
    left: 5rem;
    z-index: 99;
}

.scrollRight {
    right: 3rem;
}

.main {
    scale: 1.2;
    
}

.sec {
    opacity: 0.8;
    scale: 0.6;
}

span i {
    scale: 2;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    
}

.projects {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pcard {
    width: 30svw;
    height: 15rem;
    position: relative;
    display: flex;
    border: 2px solid var(--primary);
    border-radius: 1rem;
    border: 1px solid black;
    /* transition: height .3s ease;
    transition: width .3s ease; */
    margin: 0 auto;
    animation: slide .3s linear forwards;
        opacity: 0;
        transform: translateX(-30%);
        animation-timeline: view();
        animation-range: entry 0% cover 30%;
}
.readmorefontsize {
    font-size: .8rem;
}
.pcard .ptext {
    padding: .5rem;
    height: 100%;
    display: grid;
    grid-auto-rows: min-content;
}
.soon {
    color: var(--primary);
    align-self: center;
    justify-self: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.soon::after {
    font-family: "Font Awesome 6 Free";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    width: 8px;
    height: 8px;
    content: '\f251';
    font-weight: 600;
    padding: .5rem;
    animation: soon 2s infinite linear;
}
.soonptext{
    height: 100%;
    width: 100%;
    display: flex;

    align-content: center;

}
.ptext h4 {
    padding:.2rem .1rem;
}
.pcard img {
    height: 100%;
    max-width: 50%;
    border-top-left-radius: 1rem;
}

.activeCard {
    width: min(80%, 80svw);
    overflow: hidden;
    /* height: clamp(fit-content, 20svh, 30rem);     */
}

.activeCard img {
    max-height: 100%;
    width: auto;
}
.dots {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    position: absolute;
    bottom: .2rem;
        margin:  auto;
    /* width: 6px ; */
    overflow: hidden ;
    padding: .5rem;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    /* transition: background 0.3s; */
background: #aaa;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;}

.activedot {
    background: #0077ff;
    margin: 0 auto;
    bottom: 1rem;
    scale: 1.2;
      background: #0078ff;
    
}
footer {
    width: 100svw;
    height: fit-content;
    padding: .5rem .1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top:1px solid var(--primary);
        box-sizing: border-box;
}
footer .contact {
    /* border-right: 1px solid gray; */
    display: flex;
    flex-direction: column;
}
footer .contact h4 {
    font-size: 1.2rem;
}
footer .contact span {
    display: flex;
    align-items: center;
    justify-content: start;
}
.contact span i {
    font-size: .6rem;
    color: var(--primary);

}
.socialmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socialmedia h4 {
    font-size: 1.5rem;
}
.socialmedia > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}
.socialmedia div i {
    font-size: 1.5rem;
    color: var(--primary);

}

.socialmedia a {
    display: flex;
    gap: 1rem;
}






/* ----------------------Adding Responsivness-------------------*/


@media  screen and (max-width:993px) {
    .scrollLeft , .scrollRight {
            display:none;
            width: 0;
        }
}

@media screen and (max-width:790px) {
    section>h1 {
        font-size: 2.5rem;
    }
    .biography p {
        line-height: 1.4;
        font-weight: 500;
        font-size: .8rem;
    }
    .card {
        min-height: fit-content;
        height: 26rem;

    }
    .card p {
        font-size: .7rem;
        padding: .5rem  .7rem;
       
    }
    .readmorefontsize {
        font-size: .7rem;
    }
    .card h4 {
        font-size: 1rem;
        align-self: flex-start;
        padding-right: .5rem;
    }
    .pcard {
        width: 40svw;
    }
    .ptext P {
        font-size: .9rem;
    }
     .activeCard {

            height: fit-content;
        }
        .activeCard  read-more {
            font-size: .7rem;
        }
        .activeCard img {
            height: 15rem;
        }
          .vcard {
              height: 28rem;
    
          }
    
          .vcard p {
              font-size: .7rem;
              padding: .5rem .7rem;
  
          }
    
          .vcard h4 {
              font-size: 1rem;
              align-self: flex-start;
              padding-right: .5rem;
          }
}
@media screen and (max-width:652px) {
    .biography h1{
        font-size: 1.5rem;
    }
    .pfp {
        justify-content: center;
        margin-bottom: 2rem;
    }
    .biotext {
        display: flex;
        flex-wrap:wrap ;

    }
    .pcard  {
        width: 48rem;
        height: 15rem;
        min-height: fit-content;
    }
    .vcard {
        height: 28rem;
        min-height: fit-content;
        width: 15rem;
    }
    .vcard h4 {
        padding: .1rem .5rem ;
    }
    .vcard p {
        font-size: .7rem;
        
    }
    .vcard  {
        grid-template-rows: 30% 70%;
    }
    .certs {
        justify-content: center;
        padding-inline:0 ;
        gap: 0  ;
        

    }
    .main {
        scale: 1;
    }
    .sec {
        scale: .3;
    }
    .dot {
        display: none;
    }
        .readmorefontsize {
            font-size: .7rem;

        }
        .activeCard {

            height: fit-content;
        }
        .activeCard  read-more {
            font-size: .7rem;
        }
        .activeCard img {
            height: 15rem;
        }
   
}
@media screen and (max-width:578px) {
    .biography {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .biography img {
        width: 30%;
    }
    .biotext {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .pfp {
        margin-bottom: 0;
    }
    .biotext .social {
        display: none;
    }
    .card {
        width: 80svw;
    }
}
@media screen and (max-width:453px) {
    .biotext p {
        padding-inline: 3px;
        
    }
    .biotext {
        flex-wrap: wrap;
    }
        section {
            padding: 3rem .3rem;
        }
    footer div {
        padding-bottom: 4rem;
        padding-top: 2rem;
    }
    footer div span {
        padding-block: .4rem;
    }
    footer .contact {
        font-size: .8rem;
    }
    .contact span i {
        font-size: .5rem;
        padding: .5rem;
    }

}
