
.container {
    
    display:grid;
    grid-template-columns:20% 1fr 20% ;
    border-bottom: 1px solid gray;
    width: clamp(320px,100%,1200px,1200px);
    height: clamp(2rem,3rem,5rem);    
    position: sticky;
    top: 0 ;
    z-index: 100;
    background-color: white;
        font-size: 1.2rem;
}
.logo{
    display:flex;
    align-items: center;
    margin-left: 1rem;

}
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: .5rem; */
    gap:1rem;
    font-size: 1rem ;  
    font-weight: 500;    
}
.logo h1 {
            font-size: 1rem;
}
.navigation a:hover {
    color:var(--third);
    cursor:pointer;
}
.cv {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cv a {
    background-color: var(--third);
    border-radius: 1rem;
    padding: .6rem .6rem;
    font-size: 1rem;
}

@media screen and (max-width:716px) {
    .logo {
        display: none;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .cv {
        display: none;
    }
}
@media screen and (max-width:453px) {
    .navigation {
        font-size: .8rem;
        gap: .5rem;
        
    }
}