* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
        overflow-x: clip;
}
:root {
    --primary:#005A9C;
    --secondary:whitesmoke;
    --third:#FFC107;
}
